﻿@model TEFMvcDemo.Models.ScopingIndexModel
@{
    ViewBag.Title = "Index";
}

<div class="row">
   <div class="col-md-12">

      <div>
         Time from Per Request Service:
      </div>

      <div>
         @Model.PerRequestTime
      </div>

      <div>
         Time from Singleton Service:
      </div>

      <div>
         @Model.GlobalTime
      </div>

      <div>

         <a href="@Url.Action()">Refresh</a>

      </div>

   </div>
</div>

