﻿@model TEFMvcDemo.Models.ScopingIndexModel
@{
    ViewBag.Title = "Index";
}

<div>
   Time from Per Request Service:
</div>

<div>
   @Model.PerRequestTime
</div>

<div>
   Time from Singleton Service:
</div>

<div>
   @Model.GlobalTime
</div>

<div>

   <a href="@Url.Action()">Refresh</a>

</div>



