﻿@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
       This site is customized in a few ways.  See the DependencyInjectionConfig.cs class in App_Start folder; This is called from Global.asax.
       I separate the DI setup process from the other App_Start components so it stands out, but of course, you don't need to follow that
       convention.
    </p>
   <p>
      See the examples linked on the home page to view some of the demos.  This framework is useful, but not necessary helpful as a demo scenario,
      but more of an example scenario.  See the sample implementations in TEFMvcDemo.Classes project to illustrate how the ExportType and
      ExportAssembly attributes are used.
   </p>
</article>
