﻿@using System.Web.Mvc;
@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>TEF DEMO</h1>
                <h2>The following is a simple demo of TEF.</h2>
            </hgroup>
            <p>
                Check out the App_Start folder, for the DependencyInjectionConfig project.  In here,
				we have some code that uses TEF to inspect the attached assemblies.  Assemblies can
				be inspected at an assembly level, a type collection level, or AppDomain level.
				To register a type, apply an [ExportType] attribute to a class, or [assembly:ExportDependency]
				within the class file at the class's header.
            </p>
        </div>
    </section>
}

<div class="well">
   <h3>The following sample demonstrations:</h3>
   <ul>
      <li>
         <a href="@Url.Action("Index", "Scoping")">Scoping Demo</a>
      </li>
      <li>
         <a href="@Url.Action("Index", "SampleInjection")">Sample Injections - Put a breakpoint in controller to view.</a>
      </li>
   </ul>
</div>

<div class="well">
	<h3>The following types are registered:</h3>
	@{
		var container = (DependencyResolver.Current as SimpleInjector.Integration.Web.Mvc.SimpleInjectorDependencyResolver).Container;
		var registrations = container.GetCurrentRegistrations();

		foreach (var reg in registrations)
		{
			<div>
				<span>@reg.ServiceType.Name = @reg.Registration.ImplementationType.Name</span>
			</div>
		}
	}
</div>